.buttonz:hover {
  text-decoration: none;
  background-color: rgb(37, 190, 214);
}

.buttonz {
  font-size: 17px;
  margin-top: 11px;
  margin-right: 10px;
  cursor: pointer;
  font-family: 'Aboreto', cursive;
  font-weight: bold;
}

.buttonZ:hover {
  text-decoration: none;
  background-color: rgb(201, 138, 216);
}

.buttonZ {
  font-size: 17px;
  margin-top: 11px;
  margin-right: 10px;
  cursor: pointer;
  font-family: 'Aboreto', cursive;
  font-weight: bold;
}