.signUpForm {
  position: fixed;
  top: 20%;
  left: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-color: rgb(75, 75, 75);
  padding: 40px;
  border: 5px solid #151515;
}

#registerButton,
input[id="signUpValues"] {
  width : 500px;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
  display: block;
}

#signUpTitle {
  padding-bottom: 30px;
}
