*{
  text-align:center;
  color: beige;
}

body {
  background-color: rgba(55, 55, 55, 0.995);
  background-size: cover;
  background-repeat:no-repeat;
}

.NavBar {
  display: flex;
  justify-content: space-around;
  margin-top: 2vh;
  height: 4vmin;
  background: #2A2A2A;
  border: 4px ridge #ABABAB;
  border-radius: 4px 4px 4px 4px;
}
