.searchCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 66px;
  border: solid black 5px;
  border-style: double;
  width: 47vw;
  height: 47vh;
}

.searchField {
  color: black;
  text-align: right;
  background-color: white;
  font-size: 32px;
  font-weight: 500;
}

.searchHeader {
  font-size: 39px;
  background-color: white;
  border: black solid 3px;
  width: 36vw;
  color: black;
}