.buttonz:hover {
  text-decoration: none;
  background-color: rgb(150, 150, 150);
}

.buttonz {
  color: black;
  font-size: 17px;
  margin-top: 11px;
  margin-right: 10px;
  cursor: pointer;
  font-weight: bold;
}

.buttonZ:hover {
  text-decoration: none;
  background-color: rgb(95, 95, 95);
}

.buttonZ {
  font-size: 17px;
  margin-top: 11px;
  margin-right: 10px;
  cursor: pointer;
  font-weight: bold;
}

.favoriteCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.favorite {
  display: flex;
  width: 70vw;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  border: 2px black solid;
  color: black;
}

.editAccountButton {
  color: black;
  display: flex;
  justify-content: flex-end;
  margin-left: 20px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
}

.editAccountButton:hover {
  text-decoration: none;
  background-color: rgb(95, 95, 95);
  font-weight: bold;
}