.page {
  background-color: #222222;
  background: #000000 url("https://wallpapercave.com/wp/wp10523077.jpg") repeat fixed 50% 50%;
  height: 95vh;
  padding-top: 2vh;
}

.home > h1 {
  text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c, 2px 2px 2px rgba(255,255,255,0);
  color: rgb(0, 0, 0);
  font-size: 35px;
}

.home > h2 {
  text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c, 2px 2px 2px rgba(255,255,255,0);
  color: rgb(0, 0, 0);
  font-size: 30px;
}